.App {
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

.App-logo {
  width: 100px;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px 0;
}

.App-router {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.App-router li {
  line-height: 1.8;
}

.App-router li a {
  text-decoration: none;
  color: #DFDFDF;
  font-size: 14px;
}

.App-router li a.active {
  font-weight: bold;
  border-bottom: 1px solid #DFDFDF;
}

.App-main {
  margin: 40px 0 0 40px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* repollist */
.repo-list {
  list-style: none;
  width: 260px;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  line-height: 1.4;
}

/* stopwatch */
.stopwatch-timing {}

/* sample form */
.sample-form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.sample-form {
  padding: 0;
  margin: 0;
  width: 70%;
}

.form-logger {
  padding: 0;
  margin: 0;
  margin-top: -40px;
  background: #aaa;
  color: white;
  width: 30%;
  text-align: left;
  min-height: 800px;
}

.form-logger li {
  list-style: none;
  margin: 4px 12px 0;
}
