body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  width: 100px;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px 0;
}

.App-router {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.App-router li {
  line-height: 1.8;
}

.App-router li a {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 14px;
}

.App-router li a.active {
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
}

.App-main {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sample form */
.sample-form {
  padding: 0;
  margin: 0;
  width: 70%;
}

.form-logger {
  font-size: 14px;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  background: #122738;
  color: white;
  min-width: 10%;
  text-align: left;
  min-height: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.form-logger li {
  list-style: none;
  margin: 4px 12px 0;
}
