body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-router {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.App-router li {
  line-height: 1.8;
}

.App-router li a {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 14px;
}

.App-router li a.active {
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
}

.App-main {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  text-align: left;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* sample form */
.sample-form {
  padding: 0;
  margin: 0;
  width: 70%;
}

.form-logger {
  font-size: 14px;
  font-weight: lighter;
  padding: 0;
  margin-top: 30px;
  background: #122738;
  color: white;
  text-align: left;
  max-height: 300px;
  overflow: hidden;
}

.form-logger li {
  list-style: none;
  margin: 4px 12px 0;
}